@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.main {
  @apply pt-[5.5rem] lg:pt-[5rem] md:pt-[4.5rem];
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  color: white;
  padding-left: 4.1875rem;
  padding-right: 6.25rem;
  padding-bottom: 3.125rem;
  position: relative;
  padding-top: 1.25rem;
  background-size: cover;
}
