.contentSection{
    @apply bg-black h-screen z-50
}

.contentWrapper{
    @apply pt-[70px] leading-10 container w-1/3 mx-auto align-middle;
}

.findIdTitle{
    @apply flex pb-[60px] justify-center;
    @apply text-white font-semibold text-4xl
}

.findIdSubtitle1{
    @apply text-white font-semibold text-xl
}

.findIdSubtitle2{
    @apply text-gray400 font-medium
}

.inputForm{
    @apply h-16 bg-gray800 placeholder-slate-600 px-4 w-full rounded-sm;
    @apply text-white
}

.formBorder{
    @apply border-primary
}

.errorMessage{
    @apply mt-2;
    @apply text-red-500 text-sm
}

.submitButton{
    @apply h-16 bg-gray600 w-full rounded-sm;
    @apply text-gray400 font-extrabold
}

.eventSubmitButton{
    @apply opacity-50 cursor-pointer;
    @apply dark:hover:bg-zinc-100
}

.horizonSection{
    @apply flex flex-row items-center mt-10 justify-between
}

.horizonLine{
    @apply w-2/5 h-[1px] bg-gray800
}

.horizonText{
    @apply w-1/5;
    @apply text-center font-semibold text-gray600
}


.findText1{
    @apply pt-10 pb-3;
    @apply text-gray100 font-semibold text-xl
}

.findText2{
    @apply pb-5;
    @apply text-gray400
}
.authButton{
    @apply h-16 bg-gray100 w-full rounded-sm;
    @apply text-black font-extrabold;
    @apply dark:hover:bg-zinc-100

}