.content {
    @apply bg-black h-screen z-50
}

.contentWrapper {
    @apply pt-[70px] leading-10 container w-1/3 mx-auto align-middle;
    @apply text-white
}

.iconSection {
    @apply flex pb-[60px] justify-center;
    @apply font-semibold text-4xl;
}

.checkLogo {
    @apply pt-10
}

.textSection {
    @apply pb-10
}

.title {
    @apply pb-5;
    @apply text-white font-extrabold text-3xl text-center;
    @apply md:text-2xl
}

.subtitleWrapper {
    @apply text-center pb-[20px];
    @apply text-gray400 font-medium
}

.description1 {
    @apply whitespace-pre-line h-8;
    @apply text-[130%]
}

.description2 {
    @apply whitespace-pre-line pb-[50px];
    @apply text-[130%]
}

.idForm {
    @apply flex h-16 pt-5 bg-[#191919] justify-center bg-no-repeat;
    @apply text-white font-semibold text-lg
}

.description3 {
    @apply text-gray400
}

.loginButton {
    @apply h-16 bg-gray100 w-full rounded-sm;
    @apply text-black font-extrabold;
    @apply dark:hover:bg-zinc-100;
}
